@model Sandwich

<h1>Here is your Sandwich</h1>
<h3>Name: <span>@Model.Name</span></h3>
<h3>Name: <span>@Model.ProteinOne</span></h3>
<h3>Name: <span>@Model.ProteinTwo</span></h3>
<h3>Name: <span>@Model.Bread</span></h3>
<h3>Name: <span>@Model.Instructions</span></h3>